/* Mobile devices (up to 768px) */
@media screen and (max-width: 768px) {
    .respic{
        width: 100% !important;
        margin-top: 480px !important;
    }
    .height{
    height: 150vh !important;
}
.ndfix{
    margin-top:500px !importanrt;

}
.widsec{
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 100px !important;
}
.fixm{
    margin-top:700px !important;
    text-align: center !important;
    position: relative !important;
    left: 50px !important;
}
.firstwid{
    width:100% !important;
   margin-leaft:500px !important;
    text-align: center !important;
    position: relative !important;
    right: 150px !important;
}
}
<!--breackpoint-->
@media (min-width: 768px) and (max-width: 1023px) {

     .respic{
        width: 100% !important;
        margin-top: 200px !important;
    }
    .height{
    height: 150vh !important;
}
.ndfix{
    margin-top:500px !importanrt;

}
.widsec{
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 100px !important;
}
.fixm{
    margin-top:600px !important;
    text-align: center !important;
    position: relative !important;
    left: 50px !important;
}
.firstwid{
    width:100% !important;
   margin-leaft:500px !important;
    text-align: center !important;
    position: relative !important;
    right: 150px !important;
}
}